<!-- <h1>ANSWER</h1>

<h2>
</h2> -->
<div class="all">
  <div class="question2">
    <%= @question %> <br>
   <p>- Your Question</p> <br> <br>
  </div>
<br>
<br>

<div class="answer">
  <%= @answer %> <br>
  <p>- Coach's Answer</p>

  <%= link_to "Ask again?" ,ask_path %>

  </div>
</div>


